
<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head th:fragment="header(links, style, script)">
  <title>般若-程序蝉</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <link rel="stylesheet" type="text/css" th:href="@{/css/easyui/themes/material/easyui.css}"/>
  <link rel="stylesheet" type="text/css" th:href="@{/css/prajna.css}"/>

  <script type="text/javascript" th:src="@{/js/jquery.min.js}"></script>
  <script type="text/javascript" th:src="@{/js/prajna.js}"></script>

  <th:block th:replace="${links}" />
  <th:block th:replace="${style}" />
  <th:block th:replace="${script}" />
</head>

<body>

<div id="heading" th:fragment="heading" style="width:100%">
  <h2 style="text-align:center">般若</h2>
</div>

<ul id="main-nav"  class="nav" th:fragment="nav">
  <li><a th:href="@{/}"><img border="0" th:attr="src=@{/logo.png}" /></a></li>
  <li><a th:href="@{/}">首页</a></li>
  <li><a th:href="@{/?cid=2}">编程</a></li>
	<li><a th:href="@{/?cid=3}">LINUX</a></li>
	<li><a th:href="@{/?cid=4}">Android</a></li>
    <!-- <li><a th:href="@{/discuss}">论道</a></li> -->
    <li th:if="${login == null || login == ''}"><a href="javascript:void(0)" onClick="onSignInClick(this);">登录</a></li>
    <li th:if="${login == null || login == ''}"></li>
    <li th:if="${login != null && login != ''}"><a th:href="@{/signout}">退出</a></li>
    <li th:if="${login != null && login != ''}"><a th:href="@{/account/info}" th:text="${login}"></a></li>
</ul>

<div id="footer" th:fragment="footer" style="text-align:center; width:100%; margin-top:60px;">
  <div style="display: inline-block; text-align:left; vertical-align: top;">
   <h3 style="text-align:center">版权声明</h3>
   <p>没有注明转载的，都是原创文章， 转载请注明出处。Copyright@2018 prajna.top 版权所有，保留一切权利。</p>
  </div>

  <div style="display: inline-block; vertical-align: top; margin:0 40px 0 40px">
    <h3>与我联系</h3>
	  <p>
		email: joni_lee@outlook.com
		<a style="color:#0028ff; margin-left:20px" th:href="@{/about}">站内留言</a>
	  </p>
  </div>
 
  <div style="display: inline-block; vertical-align: top;">
    <h3><a style="text-align:center; color:#0028ff" th:href="@{/about}">关于本站</a></h3>
  </div>
</div>

<div th:fragment="signin-dialog" id="dlg-signin" class="easyui-dialog" title="登录" buttons="#dlg-signin-buttons" 
		style="width:395px;height:241px;padding:40px" data-options="modal:true, border:'thin'" closed="true">
  <form id="fm-signin" class="easyui-form" action="#" method="post" data-options="novalidate:true">
    <div style="margin-bottom:20px">
      <input class="easyui-textbox" name="account" style="width:100%" data-options="label:'用户名:',required:true">
    </div>
    <div style="margin-bottom:20px">
      <input class="easyui-textbox" type="password" name="passwd" style="width:100%" data-options="label:'密码:',required:true">
    </div>
    <div style="margin-bottom:20px">
      <p id="fm-signin-info" style="color:red;"></p>
    </div>
  </form>

  <div id="dlg-signin-buttons" style="text-align:center;padding:5px 0">
    <a th:href="@{/signup}" class="easyui-linkbutton" style="width:80px">注册</a>
    <a th:href="@{/signup?tab=1}" class="easyui-linkbutton" style="width:80px">忘记密码</a>
    <a href="javascript:void(0)" class="easyui-linkbutton" th:onclick="|submitSiginForm('@{/signin}')|" style="width:80px; margin-left:70px">登录</a>
  </div>
</div>

</body>
</html>
