<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="common :: header(~{::link}, ~{}, ~{::script})">
  <meta name="keywords" content="般若-程序蝉 LINUX 编程"/>
  <meta name="Description" content="般若-程序蝉 程序设计博客网站"/>
 
  <link rel="stylesheet" type="text/css" th:href="@{/css/page.css}"/>
 
  <script type="text/javascript" th:src="@{js/jquery.easyui.min.js}"></script> 

</head>

<body>
  <ul th:replace="common :: nav"></ul>

  <div id="pg_left">
    <th:block th:if="${(param.cid != null) and (param.cid[0] == '9')}">
      <div th:replace="common :: doctree"> </div>
    <th:block>
  </div>

  
  <div id="pg_center">
  	<div th:replace="ajax/doclist :: doc-list"> </div>
  	
  	<div th:if="${commentPgMeta}" id="doclist-pgination-bar" class="easyui-panel">
  		<div id="doclist-pgination" class="easyui-pagination" th:attr="data-options=${pgmeta}"></div>
  	</div>
  </div>
  <div id="pg_right">
  </div>

  <div th:replace="common :: footer"> </div>

  <div th:replace="common :: signin-dialog"> </div>

  <div th:replace="common :: uploaddoc-dialog"> </div>

  <script>
  	/*$('#left-menu').tree({
  		onClick: function(node){
  			var opts= $('#doclist-pgination').pagination('options');
  	        $.ajax({
  	            type: "GET",
  	            url: "doc/list/" + node.id + "?p=0&s=" + opts.pageSize + "&sort=mdate,desc",
  	            success: function(response) {
  	                $("#doc-list").html( response );
  	            }
  	        });
  		}
  	});*/
  	
  	$('#doctree').tree({
  		onClick: function(node){
  			url = [[@{/doc/}]] + node.cid + '/' + node.did;
  			window.location.href = url;
  		}
  	});
  	
  	$('#doclist-pgination').pagination({
  		onSelectPage:function(pageNumber, pageSize){
  			var opts= $('#doclist-pgination').pagination('options');
  			$.ajax({
  	            type: "GET",
  	            url: "doc/list/" + opts.cid + "?p=" + pageNumber + "&s=" + pageSize + "&sort=mdate,desc",
  	            success: function(response) {
  	                $("#doc-list").html( response );
  	            }
  	        });
  		}
  	});
  </script>
</body>
</html>
