<?xml version="1.0" encoding="UTF-8"?>
<web-app id="ota" version="3.0"
         xmlns="http://java.sun.com/xml/ns/javaee" 
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
    						 http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">

  <display-name>prajna</display-name>
<!-- 
  <servlet-mapping>
    <servlet-name>default</servlet-name>
    <url-pattern>*.js</url-pattern>
    <url-pattern>*.css</url-pattern>
    <url-pattern>*.png</url-pattern>
    <url-pattern>*.gif</url-pattern>
  </servlet-mapping>
  --> 
  <!-- Configure ContextLoaderListener to use AnnotationConfigWebApplicationContext
	instead of the default XmlWebApplicationContext -->
<!-- 
  <context-param>
		<param-name>contextClass</param-name>
		<param-value>
			org.springframework.web.context.support.AnnotationConfigWebApplicationContext
		</param-value>
  </context-param> 
  
  <context-param>
	<param-name>contextConfigLocation</param-name>
	<param-value>prajna.AppContext</param-value>
  </context-param>

  <listener>
	<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  </listener>
 -->
</web-app>
